$primary-color: #0d253f;
$secondary-color:#01b4e4;
$tertiary-color: #90cea1;

$text-black: #171717;

$white: #ffffff;

$tablet: 768px;
$desktop: 1024px;
$desktop-full: 1366px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;